@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-slate-800 bg-white antialiased;
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-primary-500;
  }
}
